/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

div.container {
    margin: Opx 40px;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

form.normal-form {
    margin: 10px;
}

.controles-container > * {
    width: 100%;
}

.add-bottom-padding {
    padding-bottom: 10px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.button-row button {
    margin: 5px
}

.card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 50px;
    width: 150px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }
